DEV_ENV=local # this env specifies the development environment is local or production

MONGO_URI_W=mongodb://127.0.0.1:27017
PORT=3000



# REDIES CONFIGURATION
REDIS_PORT=6379
REDIS_URI=localhost

# API SECURITY
API_SECRET=<api_secrete:_this_is_for_api_verification_with_UI_alternative_security_this_will_save_youR_api_AND_JUST_FOR_FUN>