DEV_ENV=local # this env specifies the development environment is local or production

MONGO_URI=mongodb://127.0.0.1:27017
PORT=8000

CORS_ORIGIN=*


# SECRET KEYS FOR AUTH
ACCESS_TOKEN_SECRET=<access_token_secret:make_you_safe>
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=<refresh_token_secret:make_you_safe>
REFRESH_TOKEN_EXPIRY=10d

# REDIES CONFIGURATION
REDIS_PORT=6379
REDIS_URI=localhost

# API SECURITY
API_SECRET=<api_secrete:_this_is_for_api_verification_with_UI_alternative_security_this_will_save_youR_api_AND_JUST_FOR_FUN>